{% load static %}
<!-- footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="ftco-footer-widget mb-4">
          <h4 class="best-sellers">OUR STORY</h4>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
        <br>
        <br>
        <div style="padding-top: 5px;">©2020 BLAUCHE</div>
      </div>
      <div class="col-sm-3">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h4 class="best-sellers">More..</h4>
          <br>
          <ul class="list-unstyled">
            <li><a href="#our_story" class="py-2 d-block">About Us</a></li>
            <li><a href="#contact" class="py-2 d-block">Contact Us</a></li>
            <li><a href="#" class="py-2 d-block">Track My Order</a></li>
            <li><a href="#" class="py-2 d-block">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
         <div class="ftco-footer-widget mb-4">
          <h4 class="best-sellers">SHOP</h4>
          <br>
          <ul class="list-unstyled">
            <li><a href="#our_story" class="py-2 d-block">Bed Line</a></li>
            <li><a href="#our_story" class="py-2 d-block">Bath Towels</a></li>
            <li><a href="#our_story" class="py-2 d-block">Bathrobes</a></li>
            <li><a href="#our_story" class="py-2 d-block">Home Fragrances</a></li>
            <li><a href="#our_story" class="py-2 d-block">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="ftco-footer-widget mb-4">
            <h4 class="best-sellers">NEWSLETTER</h4>
            <br>
            <div class="block-23 mb-3">
              <P>Subscribe to receive updates, access <br/>
                  to exclusive deals and more.
              </P>
            </div>
            <div>
                <!-- subscribe -->
                  <div class="container"> 
                      <form action="#" method="post"> 
                          <input type="email" name="email" placeholder="Enter your mail address" required="">
                          <input type="submit" value="Subscribe">
                          <div class="clearfix"> </div>
                      </form> 
                  </div>  
             <!-- //subscribe --> 
               <br>
               <div>
                  <img src="{% static 'assets/img/g14.png' %}" alt=""/>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Full Stack Developer Test <i class="icon-heart color-danger" aria-hidden="true"></i> by Marshal Nzenza
      </div>
    </div>
  </div>
</footer>
<!-- //copy right end here --> 