{% extends 'base.html' %}
{% load static %}

{% block content %}

	<!-- banner -->
	<div id="home" class="home-banner "> 
	{% include 'includes/header.html' %} 


		<!-- banner-text -->
		<div class="banner-text">  
			<div class="container"> 
                <h2>Super Soft, Stylish Bed Line</h2>
                <h2>Made With Love</h2>
			</div> 
            <div style="padding-top: 150px;">
                <a href="#" class="wthree-btn btn-6 scroll">EXPLORE <span></span></a>  
            </div>
            <div>
                <img src="{% static 'assets/img/explore.png' %}" alt="">
            </div>
            
		</div> 
		<!-- //banner-text -->   
	</div>	
	<!-- //banner --> 

	<!-- our story -->
	<div id="our_story" class="about">
        <div class="container"></div>
		<div class="container">
				<div class="agileits_about_grid">
                    <p>
                         Our premium products got the finest quality cotton that create an exquisite lightweight
                    </p>
                    <p> 
                        textile that’s both soft and crisp – guaranteed to give you a wonderful night’s sleep.   
                    </p>
                </div>
			
			
			   <div>
                <div id="gallery" class="gallery">
                    <div class="container">
                        <div class="main">
                            <div class="col-sm-6 col-xs-6 gallry-agile-grids">
                                <div class="view view-seventh">
                                    <a href="#" class="b-link-stripe b-animate-go thickbox" title="Shop Bed Linens">
                                        <img src="{% static 'assets/img/g1.png' %}" alt="" height="400px"/>
                                        <div class="mask">
                                            <h4>Bed Linens</h4>
                                        </div>
                                    </a>
                                    <button type="button" class="btn btn-light">Shop Bed Linens</button>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 gallry-agile-grids">
                                <div class="view view-seventh">
                                    <a href="#" class="b-link-stripe b-animate-go thickbox" title="Shop Bath Towels">
                                        <img src="{% static 'assets/img/g2.png' %}" alt="" height="400px"/>
                                        <div class="mask">
                                            <h4>Bath Towels</h4>
            
                                        </div>
                                    </a>
                                    <button type="button" class="btn btn-light">Shop Bath Towels</button>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 gallry-agile-grids">
                                <div class="view view-seventh">
                                    <a href="#" class="b-link-stripe b-animate-go thickbox" title="Shop Bath Robes">
                                        <img src="{% static 'assets/img/g3.png' %}" alt="" height="400px"/>
                                        <div class="mask">
                                            <h4>Bath Robes</h4>
            
                                        </div>
                                    </a>
                                    <button type="button" class="btn btn-light">Shop Bath Robes</button>
                                </div> 
                            </div>  
                            <div class="col-sm-6 col-xs-6 gallry-agile-grids">
                                <div class="view view-seventh">
                                    <a href="#" class="b-link-stripe b-animate-go thickbox" title="Home Fragrances">
                                        <img src="{% static 'assets/img/g4.png' %}" alt="" height="400px"/>
                                        <div class="mask">
                                            <h4>Home Fragrances</h4>
            
                                        </div>
                                    </a>
                                    <button type="button" class="btn btn-light">Shop Home Fragrances</button>
                                </div>
                            </div>
                            
                           
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
               </div>
		</div> 
	</div>

	<!-- //our story --> 
    
	<!-- expertise -->
    <div id="expertise" class="expertise">
		<div class="container">
            <div>
                <div style="padding-top: 40px;">
                    <h3 class="best-sellers">Best Sellers<span> </span></h3>
                </div>
            <div id="gallery" class="gallery">
                <div class="container">
                    <div class="main">
                        <div class="col-sm-4 col-xs-6 gallry-agile-grids">
                            <div class="view view-seventh">
                                <a href="#" class="b-link-stripe b-animate-go thickbox">
                                    <img src="{% static 'assets/img/g5.png' %}" alt="" height="400px"/>
                                </a>
                            </div>
                            <div>
                                <h4>Product Name <br/>AED XXX</h4>
                                <p>Available in 5 colours</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6 gallry-agile-grids">
                            <div class="view view-seventh">
                                <a href="#" class="b-link-stripe b-animate-go thickbox">
                                    <img src="{% static 'assets/img/g6.png' %}" alt="" height="400px"/>
                                </a>
                            </div>
                            <div>
                                <h4>Product Name  <br/>AED XXX</h4>
                                <p>Special O􀆗er Get 25% OFF</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6 gallry-agile-grids">
                            <div class="view view-seventh">
                                <a href="#" class="b-link-stripe b-animate-go thickbox">
                                    <img src="{% static 'assets/img/g7.png' %}" alt="" height="400px"/>
                                </a>
                            </div> 
                            <div>
                                <h4>Product Name <br/>AED XXX</h4>
                                <p>Available in 3 colours</p>
                            </div>
                        </div>  
                        
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            </div>
		</div> 
	</div>
	<!-- //expertise -->
<!-- priority -->
	<div id="priority" class="priority">
		<div>
            <div>
                <div style="padding-top: 40px;">
                    <h3 class="best-sellers">Your Comfort Is Our #1 Priority<span> </span></h3>
                </div>
            <div id="gallery" class="gallery">
                <div>
                    <div class="main">
                        <div class="gallry-agile-grids">
                            <div class="view view-seventh">
                                <a href="#" class="b-link-stripe b-animate-go thickbox">
                                    <img src="{% static 'assets/img/g8.png' %}" alt="" width="700px"/>
                                </a>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h4>Quality Products</h4>
                                        <br>
                                        <p>Lorem ipsum dolor sit amet,<br/>
                                        consectetur adipiscing elit, sed do</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4>Lifetime Warranty</h4>
                                        <br>
                                        <p>Lorem ipsum dolor sit amet,<br/>
                                        consectetur adipiscing elit, sed do</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4>Stress-free Shopping</h4>
                                        <br>
                                        <p>Lorem ipsum dolor sit amet,<br/>
                                        consectetur adipiscing elit, sed do</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4>Stress-free Shopping</h4>
                                        <br>
                                        <p>Lorem ipsum dolor sit amet,<br/>
                                        consectetur adipiscing elit, sed do</p>
                                    </div>
                                </div>
                            </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            </div>
		</div> 
	</div>
    <!-- //priority -->

    <!-- testimonials -->
    <div id="testimonials" class="testimonials">
		<div class="container">
            <div>
                <div style="padding-top: 40px; margin-left: 45%;">
                    <img src="{% static 'assets/img/g9.png' %}" alt=""/>
                </div>
                <div style="padding-top: 40px; text-align: center;">
                   <h4 class="best-towel-text">"This is the best towel set I've ever had; it's cool, <br/>comfortable and aesthetically perfect."</h4>
                </div>
                <div style="padding-top: 40px; text-align: center;">
                    <button type="button" class="btn btn-light">READ TESTIMONIALS</button>
                 </div>
		</div> 
	</div>
    </div>
     <!-- //testimonials -->
    <!-- instagram -->
    <div id="instagram" class="instagram">
		<div>
            <div>
                <div style="padding-top: 60px; text-align: center;">
                    <h4 class="twitter-follow-text">FOLLOW US ON <i class="fa fa-instagram"></i></h4>
                 </div>
            <div id="gallery" class="gallery">
                <div>
                    <div class="main">
                        <div class="col-sm-3 col-xs-6 gallry-agile-grids">
                            <div class="view view-seventh">
                                <a href="#" class="b-link-stripe b-animate-go thickbox">
                                    <img src="{% static 'assets/img/g10.png' %}" alt="" height="300px"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6 gallry-agile-grids">
                            <div class="view view-seventh">
                                <a href="#" class="b-link-stripe b-animate-go thickbox">
                                    <img src="{% static 'assets/img/g11.png' %}" alt="" height="300px"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6 gallry-agile-grids">
                            <div class="view view-seventh">
                                <a href="#" class="b-link-stripe b-animate-go thickbox">
                                    <img src="{% static 'assets/img/g12.png' %}" alt="" height="300px"/>
                                </a>
                            </div> 
                        </div>  
                        <div class="col-sm-3 col-xs-6 gallry-agile-grids">
                            <div class="view view-seventh">
                                <a href="#" class="b-link-stripe b-animate-go thickbox">
                                    <img src="{% static 'assets/img/g13.png' %}" alt="" height="300px"/>
                                </a>
                            </div> 
                        </div>  
                        
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            </div>
		</div> 
	</div>
    <!-- //instagram -->

	<!-- contact -->
	<div id="contact" class="contact">
		<div class="w3_agileits_contact_grids">
			<div class="col-md-6 col-xs-8 w3_agileits_contact_grid_left">
				<div class="agile_map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.3905851087434!2d-34.90500565012194!3d-8.061582082752993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18d90992e4ab%3A0x8e83c4afabe39a3a!2sSport+Club+Do+Recife!5e0!3m2!1sen!2sin!4v1478684415917" style="border:0"></iframe>
				</div>
				<div class="agileits_w3layouts_map_pos">
					<div class="agileits_w3layouts_map_pos1">
						<h3>Contact Info</h3>
						<p>Beuniquegroup,
							UAE
						.</p>
						<ul class="wthree_contact_info_address">
							<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">info@beuniquegroup.com</a></li>
							<li><i class="fa fa-phone" aria-hidden="true"></i>+971545153389</li>
						</ul>
						<div class="w3_agile_social_icons w3_agile_social_icons_contact">
							<ul>
								<li><a href="#" class="icon icon-cube agile_facebook"></a></li>
								<li><a href="#" class="icon icon-cube agile_rss"></a></li>
								<li><a href="#" class="icon icon-cube agile_t"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 w3_agileits_contact_grid_right">
				<h3 class="agileits-title">Contact<span class="w3lshr-line"> </span></h3>  
				<form action="#" method="post">
					<span class="input input--ichiro">
						<input class="input__field input__field--ichiro" type="text" id="input-25" name="Name" placeholder=" " required="" />
						<label class="input__label input__label--ichiro" for="input-25">
							<span class="input__label-content input__label-content--ichiro">Your Name</span>
						</label>
					</span>
					<span class="input input--ichiro">
						<input class="input__field input__field--ichiro" type="email" id="input-26" name="Email" placeholder=" " required="" />
						<label class="input__label input__label--ichiro" for="input-26">
							<span class="input__label-content input__label-content--ichiro">Your Email</span>
						</label>
					</span>
					<textarea name="Message" placeholder="Your message here..." required=""></textarea>
					<input type="submit" value="Submit">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- contact -->
    {% include 'includes/footer.html' %}
    {% endblock content %}

